/.env
/.phpunit.cache
/.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/node_modules
/public/build
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/backups/*
!/storage/**/.gitignore
/vendor
/quant/.pytest_cache
/quant/.ruff_cache
/quant/.venv
/quant/**/__pycache__
*.pyc
